# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.htaccess
robots.txt
cache
.DS_Store
*/.DS_Store
sites/*/.DS_Store

# Ignore some Sites
sites/corasdeportivotepic.mx
sites/drupal.diarioindependencia.com
sites/tepicnay.mx
sites/default
sites/eldiariodenayarit.com
sites/nayarit100.mx
sites/www.fundacionrie.org
sites/fundacionrie.org
.gitmodules
sites/local.diarionayarit.com
sites/local.fundacion.com
sites/local.gobierno.com
sites/local.nayarit100.com
sites/local.tepicnay.com

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
