# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.htaccess
robots.txt
cache
.DS_Store
*/.DS_Store
sites/*/.DS_Store

feria.jpg
nayarit1.mp3
# Ignore some Sites
sites/local.enequipo.com
sites/corasdeportivotepic.mx
sites/drupal.diarioindependencia.com
sites/local.cambox.com
sites/local.asiganalagente.com
sites/www.jugarenequipo.mx
sites/jugarenequipo.mx
sites/j.tepicnay.mx
sites/directorio.tepicnay.mx
sites/local.casas.com
sites/www.cambox.mx
sites/www.asiganalagente.com
sites/dev.asiganalagente.com
sites/tepicnay.mx
sites/m.tepicnay.mx
sites/default
sites/sdgtv.com
sites/local.facebook.com
sites/socialapps.mx
sites/local.tepicnay.mx
sites/xn--sealdelagente-jkb.com.tar.gz
sites/xn--sealdelagente-jkb.com
sites/www.socialapps.mx
sites/eldiariodenayarit.com
sites/quienfalto.com
sites/www.quienfalto.com
sites/local.quienfalto.com
sites/local.multimedios.com
sites/multimediosdigitales.info
sites/local.transparencia.com
sites/nayarit100.mx
sites/www.fundacionrie.org
sites/fundacionrie.org
sites/dev.quienfalto.com
sites/dev.corasdeportivotepic.mx
sites/corasdeportivotepic.mx
sites/www.corasdeportivotepic.mx
sites/transparenciaeducativa.com
sites/www.transparenciaeducativa.com
sites/2do.gobiernodelagente.com
sites/2doinforme.gobiernodelagente.com
sites/2informe.gobiernodelagente.com
sites/segundoinforme.gobiernodelagente.com
.gitmodules
sites/local.2doinforme.com
sites/local.coras.com
sites/local.diarionayarit.com
sites/local.fundacion.com
sites/local.gobierno.com
sites/local.nayarit100.com
sites/local.tepicnay.com

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
